<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Create a new task :)</h1>
        </div>
        <div class="col-sm-12">
            <form class="form" name="form" ng-submit="register(form)" novalidate>

                <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                            'has-error': form.name.$invalid && submitted }">
                    <label>Title</label>

                    <input type="text" name="name" class="form-control" ng-model="user.name"
                           required/>
                    <p class="help-block" ng-show="form.name.$error.required && submitted">
                        A title is required
                    </p>
                </div>
                <div class="form-group" ng-class="{ 'has-success': form.email.$valid && submitted,
                                            'has-error': form.email.$invalid && submitted }">
                    <label>Description</label>

                     <textarea name="context" class="form-control" ng-model="task.context" required mongoose-error></textarea>

                </div>

                <div class="form-group" ng-class="{ 'has-success': form.password.$valid && submitted,
                                            'has-error': form.password.$invalid && submitted }">
                    <label>Password</label>

                    <input type="password" name="password" class="form-control" ng-model="user.password"
                           ng-minlength="3"
                           required
                           mongoose-error/>
                </div>
                <div>
                    <button class="btn btn-inverse btn-lg btn-login" type="submit">
                        Crate Task
                    </button>
                </div>
            </form>
        </div>
    </div>
    <hr>
</div>