<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Create a new task :)</h1>
        </div>
        <div class="col-sm-12">
            <form class="form" name="form" ng-submit="register(form)" novalidate>

                <div class="form-group">
                    <label>Title</label>

                    <input type="text" name="name" class="form-control" ng-model="user.name"
                           required/>
                    <p class="help-block" ng-show="form.name.$error.required && submitted">
                        A title is required
                    </p>
                </div>

                <div class="form-group">
                    <label>Description</label>

                     <textarea name="context" class="form-control" ng-model="task.context" required mongoose-error></textarea>

                </div>

                <div class="form-group">
                    <label>Reward</label>

                    <input type="number" id="reward" name="reward" class="form-control" ng-model="task.reward" required>
                </div>

                <div>
                    <button class="btn btn-inverse btn-lg btn-login glyphicon glyphicon-ok" type="submit">
                       Save
                    </button>
                </div>
            </form>
        </div>
    </div>
    <hr>
</div>