<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Welcome to BountyBoard</h1>
    <p class="lead">Here you can post and find tasks.</p>
  </div>
</header>

<div class="container">

    <form class="thing-form">
        <label>Syncs in realtime across clients</label>
        <p class="input-group">
            <input type="text" class="form-control" placeholder="Post new project" ng-model="newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>
      </span>
        </p>
    </form>
    <div class="row">
        <div class="well well-small ticket highlight" data-id="494">
            <div class="row">
                <div class="col-lg-2 text-center">
                    <div class="bid-text">$50</div><div>No deadline</div></div>
                <div class="col-lg-8 ticket-info">
                    <div class="ticket-title"><a href="../ticket/494">Need a front end guru for max 10 minutes...</a></div>
                    <div class="short-description">We are working on Foundups eXtension (FX) for chrome extension and need a front end guru to help us JUST on the front end, JS is e...</div>
                    <div style="overflow: hidden;">
                        <span class="pull left"><span class="label label-default tag-label">html</span><span class="label label-default tag-label">html5</span><span class="label label-default tag-label">css</span><span class="label label-default tag-label">css3</span><span class="label label-default tag-label">js</span></span>
                        <!--<span class='text-muted text-right pull-right'>
                          posted <time class='timeago' datetime='-62169955200'>date</time>
                        </span>--><span class="text-muted text-right pull-right">
                <small>188 views</small>
              </span></div>
                </div>
                <div class="col-lg-2 text-center"><div class="text-info replies-text">4</div>
                    <div>replies</div></div>
            </div>
    </div>


  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Jobs to do:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div>

</div>

<footer class="footer">
  <div class="container">
      BountyBoard All rights reserved.
  </div>
</footer>
