<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Welcome to BountyBoard</h1>
    <p class="lead">Here you can post and find tasks.</p>
  </div>
</header>

<div class="container">
    <div class="row">
        <form class="thing-form">
            <label>Syncs in realtime across clients</label>
            <p class="input-group">
                <input type="text" class="form-control" placeholder="search for tasks" ng-model="newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addThing()">Search</button>
      </span>
            </p>
        </form>
    </div>

    <div class="row" ng-repeat="thing in awesomeThings">
        <div class="well well-small ticket highlight" data-id="494">
            <div class="row">
                <div class="col-lg-2 text-center">
                    <div class="bid-text">$50</div><div>expire in 2 days</div>
                </div>
                <div class="col-lg-8 ticket-info">
                    <div class="ticket-title"><a href="../ticket/494">{{  thing.name  }}</a></div>
                    <div class="short-description">searching for an man that cando it for we!</div>
                    <div style="overflow: hidden;">
                        <span class="pull left"><span class="label label-default tag-label">html</span><span class="label label-default tag-label">html5</span><span class="label label-default tag-label">css</span><span class="label label-default tag-label">css3</span><span class="label label-default tag-label">js</span></span>
                        <!--<span class='text-muted text-right pull-right'>
                          posted <time class='timeago' datetime='-62169955200'>date</time>
                        </span>--><span class="text-muted text-right pull-right">
                <small>188 views</small>
              </span></div>
                </div>
                <div class="col-lg-2 text-center"><div class="text-info replies-text">10</div>
                    <div>replies</div><button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></div>
            </div>
         </div>
   </div>

</div>
</div>
<footer class="footer">
  <div class="container">
      BountyBoard All rights reserved.
  </div>
</footer>
